.header {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.jumbotron {
  color: white;
  filter: blue;
  background-color: black !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  margin-bottom: 0px !important;
}
.col-md-4 {
    background-color:lightcyan;
    padding-top: 0px;
}
#inputCity {
    width: 100% !important;
}
.cityClass {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    border:1pt tomato;
   background-color:  white;
  
}
#current {
    margin-top: 10px;
}
.name {
    font-size: 20px;
    font-weight: bolder;
}
.weather {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}